First: <%=@product.name%><br>
Description: <%=@product.description%><br>
Price: <%=@product.pricing%><br>
Category: <%=@product.category.name%><br>
<a href="/products/<%=@product.id%>/edit">Edit</a> | <a href="/products">Back</a>
