<!DOCTYPE html>
<html>
<head>
  <title> To Do App </title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if current_user %>
  Signed in as <%= current_user.name %> | <%= link_to "Logout", '/logout' %>
<% else %>
  <%= link_to 'Login', '/login' %> | <%= link_to 'Signup', '/signup' %>
<% end %>

<hr>

<%= yield %>


<hr>

  <% flash.each do |key, value| %>
    <div id="flash_<%= key %>"><%= value %></div>
  <% end %>
  


</body>
</html>